{% extends 'modals/baseModal.html' %}
{% block id %} id="emailModal{{candidate.pk}}" {% endblock id %}
{% block title %} <i class="fas fa-envelope"></i>&nbsp;&nbsp; Company Note {% endblock title %}
{% block body %}
    <form action="{% url 'email' %}" method="post">
        {% csrf_token %}

        <div class="modal-body">
            <strong><span class="text-primary"> {{candidate.firstname}} {{candidate.lastname}} </span></strong>
            <hr>
            <input type="hidden" name="name" value="{{candidate.firstname}} {{candidate.lastname}}">
            <input type="hidden" name="email" value="{{candidate.email}}">
            <input type="hidden" name="status" value="{{candidate.situation}}">
            <input type="text" name="subject" class="form-control" placeholder="Subject" required>
            <textarea name="message" class="form-control" rows="8" placeholder="Message to candidate" required></textarea>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary w-100">
                <i class="fas fa-paper-plane"></i>&nbsp;&nbsp; Submit
            </button>
        </div>
    </form>
{% endblock body %}
{% block btn-denied %} {% endblock %}
